* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
  padding: 35px;
  width: 100%;
  height: 100%;
}

.container {
  background: linear-gradient(to right, #f6f6f6 50%, #a9332b 50%);
  padding: 30px 45px;
}

/* navbar */
.navbar {
  display: flex;f
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

h2 {
  font-size: 28px;
  letter-spacing: 2px;
}

.search-box {
  background: #e9e9e9;
  border-radius: 30px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  width: 180px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f0c67b;
  font-weight: 600;
  font-size: 15px;
}

/* content */

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* left */

.left {
  position: relative;
  width: 25%;
}

.side-text {
  position: absolute;
  left: -90px;
  top: 120px;
  transform: rotate(-90deg);
  font-size: 42px;
  color: #444;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.content ul {
  margin-left: 60px;
}

.content ul li {
  list-style: none;
  padding: 14px 0;
  border-bottom: 1px solid #ddd;
  line-height: 1.5;
  color: #222;
}

.content ul span {
  font-weight: bold;
}

/* center */

.center {
  width: 30%;
  display: flex;
  justify-content: center;
}

.center img {
  width: 320px;
}

/* right */

.right {
  width: 30%;
  color: #fff;
}

.right h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 500;
}

.details {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.right-img {
  text-align: center;
  color: #e5c18b;
  font-size: 14px;
}

.right-img img {
  width: 70px;
  margin-bottom: 10px;
  border-right: 1px solid #d7b17b;
  padding-right: 10px;
}

.detail-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #f0d2a2;
  font-size: 15px;
}

.detail-items i {
  margin-right: 8px;
}

.price {
  font-size: 38px;
  color: #f7d6a0;
  margin-bottom: 18px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f3d5a7;
  margin-bottom: 12px;
  font-size: 15px;
}

.option i {
  font-size: 22px;
}

.btn {
  margin-top: 20px;
  border: none;
  background-color: #f0c98e;
  color: #222;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
